body {
  background-color: #D2D6CE;
}

.navbar {
  background-color: #AAC291;
}



h1 {
  text-align: center;
}

.container{
  ;
}
.jumbotron {
  background-color: #AAC291;
}













/* TRY TO COLOR ACTIVE TAB IN MENUS
.active {
  color: #3F5728;
}*/
