body {
  background-color: #D2D6CE;
}

.navbar {
  background-color: #AAC291;
}

.dropdown-menu li {
  margin: 3px;
}

img {

}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img.main {
  float:left;
}

.nobullets {
  list-style-type: none;
}



.btn {
  color: #6B6E68;
  background-color: #D2D6CE;
  border color: black;
}



.btn-primary.outline:hover {
  color: #6B6E68;
  background-color: #B3BFA6;
  border-style: solid;
  border-color: #6B6E68;
}

.btn-primary.outline {
  color: #6B6E68;
  background-color: #B3BFA6;
  border-style: solid;
  border-color: #6B6E68;

}

/*.container .jumbotron {
  min-height: 300px;
  min-width: 594px
}*/

.columntext img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 25px;
  float:right;
}

.carver {
  margin: 12px;
  border: none;
  padding: 4px;
}

.jumbotron {
  margin-bottom: 15px;
  background-image: url(../img/rain.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #A2A69F;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*GET NEW IMAGE AND FIX TEXT COLOR*/



.carousel .container p{
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}

.links {
  list-style-type: none;
}



/*.columntext ol li{
  text-align: justify;

}*/

/*.columntext ol li ul li {
  text-align: left;
}*/








/* TRY TO COLOR ACTIVE TAB IN MENUS
.active {
  color: #3F5728;
}*/
